<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!-- Example connection to a SQL Server Database on localhost. -->
		<!-- <add name="ExampleConnectionString"
			connectionString="Data Source=.;Initial Catalog=DBName;Integrated Security=True"
			providerName="System.Data.SqlClient" /> -->
	</connectionStrings>
	<appSettings>
		<!-- access these values via the property:
			System.Configuration.ConfigurationManager.AppSettings[key]
		-->
		<add key="SERVER_URL" value="--paste server url (with /qcbin) here--" />
		<add key="USER_NAME" value="--paste username here--" />
		<add key="PASSWORD" value="--paste password here--" />
		<add key="DOMAIN" value="DEFAULT" />
		<add key="PROJECT" value="--paste project name here--" />
	
		<add key="REQUIREMENTS_FILE" value="data_requirements.txt" />
		<add key="ATTACHMENTS_FILE" value="data_attachments.txt" />
		<add key="ATTACHMENTS_PATH" value="output" />
	
 	</appSettings>
</configuration>
